{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<div class="row">
				<div class="col-3">
					{% include 'trainer/left-sidebar.html' %}
				</div>
				<div class="col-9">
					<center>
                        <div class="waviy">
                        
                          <span style="--i:1">T</span>
                          <span style="--i:2">A</span>
                          <span style="--i:3">S</span>
                          <span style="--i:4">K</span>
                          <span style="--i:5">S</span>
                        
                         </div>
                        </center>
					{% if msg %}
					<p class="text-success">{{msg}}</p>
					{% endif %}
					<form class="shadow p-3 mb-5 bg-white rounded" method="post" action="" enctype="multiple/form-data">
							{% csrf_token %}
							{{ form.media }}
							{{form|crispy}}
							<input type="submit" class="mt-2 btn btn-primary" />
					</form>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}