{% extends 'base.html' %}
{% block content %}


<section class="container my-4">
    <h1 class="text-center mb-4 section-heading border-bottom pb-2">Password reset sent</h1>
    <div class="row">
        <div class="col-md-6 offset-3">
          

            
            <div class="shadow p-3 mt-4 mb-5 bg-white rounded">
                

                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                
                <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                
            </div>
            
        </div>
    </div>
</section>
{% endblock %}