{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
	<section class="container my-4">
		<div class="row">
			<div class="col-3">
				{% include 'user/left-sidebar.html' %}
			</div>
			<div class="col-9">

				
					<div class="waviy">
						<center>
					  <span style="--i:1">C</span>
					  <span style="--i:2">H</span>
					  <span style="--i:3">A</span>
					  <span style="--i:4">N</span>
					  <span style="--i:5">G</span>
					  <span style="--i:6">E</span>
					  <span style="--i:7"></span>
					  <span style="--i:7"></span>
					  <span style="--i:8">P</span>
					  <span style="--i:9">A</span>
					  <span style="--i:10">S</span>
					  <span style="--i:11">S</span>
					  <span style="--i:12">W</span>
					  <span style="--i:13">O</span>
					  <span style="--i:14">R</span>
					  <span style="--i:15">D</span>
					  <center>
					 </div>
				  


				<form class="shadow p-3 mb-5 bg-white rounded" method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<input type="submit" value="Save" class="mt-2 btn btn-primary" />
				</form>
			</div>
		</div>
	</section>
</main>
{% endblock %}