{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">contact</h1>
			<div class="row">
                <div class="col-md-7">
                    <table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td>City Wouroud 1, Sidi Bouzid</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>+216 56 270 159</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>overdosegym@gmail.com</td>
						</tr>
					</table>
                </div>
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13067.620263065219!2d9.4694106!3d35.0341048!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdddc0be3fcd2eec1!2sOverdose%20GYM!5e0!3m2!1sen!2stn!4v1654208901548!5m2!1sen!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}